@import "../../../sass/theme";
h1{
  color:$color_white;
  padding: 30px 0;
  font-size: 3rem;
  font-weight: 300;
}
input{
  display: block;
  width: 100%;
  margin-bottom: 40px;
  padding: 20px 0 10px 10px;
  border:none;
  background-color: transparent;
  border-bottom: 1px solid $color_white;
  font-size: 1.2rem;
  color:$color_white;
}
input::-webkit-input-placeholder {
  color: $color_red !important;
}
  
input:-moz-placeholder {
  color: $color_red !important;  
}
  
input::-moz-placeholder {
  color: $color_red !important;  
}
  
input:-ms-input-placeholder {  
  color: $color_red !important;  
}
select{
  width: 100%;
  margin-bottom: 40px;
  background-color: transparent;
  border: none;
  color: $color_red;
  border-bottom:1px solid $color_white;
  border-radius: 0;
  height: 53px;
  font-size: 1.2rem;
}
.mars-registration-form{
  min-height: 80vh;
}
.warning{
  background: $color_red;
}
.register-btn{
  background-color: transparent;
  color: $color_white;
  font-size: 1.5rem;
  margin-top: 40px;
  border:none;
  font-weight: 300;
  &:hover{
    cursor: pointer;
  }
  &:disabled{
    color:darken($color_white, 60%);
  }
  .loader{
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    width: 30px;
    height: 30px;
    margin: 20px auto 0 auto;
  }
}