<section class="page flex-container-no-wrap vertical-align-column page-black-background text-center">
    <div class="container">
        <h1>Register</h1>
        <form class="mars-registration-form" [formGroup]="registerForm" (ngSubmit)="registerColonist()" novalidate>
            <input type="text" placeholder="Name" formControlName="name"/>
            <input type="number" placeholder="Age" formControlName="age" />
            <select name="mars-job-registration" id="mars-job-registration" formControlName="job_id">
                <option value="">Select Occupation</option>
                <option *ngFor='let job of jobs' value="{{ job.id }}">{{ job.name }}</option>
            </select>
            <button [disabled]="registerForm.status === 'INVALID'" type="submit" class="register-btn">Check In</button>
        </form>
    </div>
</section>

