p{
  color:white;
}
.encounter-header{
  height: 20vh;
  h1{
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 0;
    margin-top: 20px;
    color:white;
  }
}
.encounter-list{
  overflow: scroll;
  height: 55vh;
  ul{
    margin: 0;
    padding: 0;
    li{
      list-style: none;
      margin: 40px 0;
    }
    li:first-child{
      margin-top: 0;
    }
  }
}
a{
  text-decoration: none;
}
.encounter-link{
  background-color: black;
  overflow: auto;
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
  p{
    font-size: 2.3rem;
  }
}