@import "./sass/normalize";
@import "./sass/theme";
/* You can add global styles to this file, and also import other style files */
*,*:before,*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

h1,h2,h3,h4,h5,h5,h6{
  font-weight: bold;
  font-style: normal;
}
.container{
  padding: 20px 15px;
}
.container-fluid{
  padding: 20px 0px;
  margin: 0 auto;
  max-width: 800px;
}
.vertical-align-column{
  flex-direction: column;
  justify-content: space-between;
}
.vertical-align-column-flex-end{
  flex-direction: column;
  justify-content: flex-end;
}
.flex-container{
  flex-wrap: wrap;
  display: flex;
}
.flex-container-no-wrap{
  flex-wrap: nowrap;
  display: flex;
}
.text-center{
  text-align: center;
}
.text-uppercase{
  text-transform: uppercase;
}
.page{
  height: 100vh;
  max-height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.page-space-background{
  background-image:  url('http://wallpapercave.com/wp/XiP3qSO.jpg');
  background-size: cover;
  background-position: center;
}
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
