@import "../../../sass/theme";
h1,li,p{
  color: $color_white;
}
ul{
  height: 70vh;
  overflow-y: scroll;
  a{
    color:$color_yellow;
    &:hover{
      color:white;
    }
  }
  li{
    list-style: none;
    margin-bottom: 60px;
  }
  li:last-child{
    margin-bottom: 0;
  }
}